@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.Login {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center > img {
  margin-bottom: 10px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  background-color: rgb(253, 253, 253);
  height: 100%;
}
.loginBox > h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.loginBox > span {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  color: rgba(51, 51, 51, 1);
}
.loginBox > input {
  width: 252px;
  border: 1px solid #cccccc;
  outline: none;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}
.loginBox > p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.sendOtp {
  outline: none;
  background: #eb6e7f;
  border: none;
  /* margin-top: 20px; */
  width: 350px;
  height: 4 0px;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
  margin-top: 70px;
  color: #ffff;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
